body{
	background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1543295107-ddccf47d0c64%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax%26ixid%3DeyJhcHBfaWQiOjEyMDd9");
    text-align: center;
    background-size: 85%
}
#allmar  {
	text-decoration: firebrick

}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}